.Cockpit{
    height: 100vh;
    width: 100%;
}


.Cockpit video{
    position: relative;
    width: 100%;
    z-index: 0;
}

.Overlay{
    position:absolute;
    top: 35%;
    left: 0;
    width: 100%;
    height: 80%;
    z-index:1;
    background: linear-gradient(transparent, #000);
}

.TextWrapper{
    margin: 200px 7% 0 0 ;
    float: right;
}

.Title{
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    color: #fff;
}

.Text{
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    color: #fff;
} 

.Button_Learn{
    margin: 50px 0px 0 85px;
    width: 40%;
}

.Button_Contact{
    margin: 50px 0px 0 350px;
    width: 14%;
}