.Deactive{
    transition: all 1s;
    height: 60px;
    width: 100%;
    position: fixed;
    background: transparent;
    display: flex; 
    z-index: 20;
    color: #000;
    top: 0;
}

.Active{
    transition: all 1s;
    height: 60px;
    width: 100%;
    position: fixed;
    background: #000;
    display: flex;
    color: #fff;
    z-index: 20;
    top: 0;
}


.NavLogo{
    transition: all 1s;
    width: 44px;
    height: 44px;
    margin:  5px 15% 0 24%;
}

.OpenElementPosition{
    margin: 5px 0 0 5px ; 
}

@media all and (min-width: 1200px) and (max-width: 1350px){
    .NavLogo{
        margin: 5px 10% 0 20%;
    }
}

@media all and (min-width: 1024px) and (max-width: 1200px){
    .NavLogo{
        margin: 5px 5% 0 10%;
    }
}

@media all and (max-width: 1024px){
    .OpenElementPosition{
        margin: 5px 0 0 30px;
    }

    .NavLogo{
        visibility: hidden;
    }
}
