

.ProjectImage{
    display: block;
    margin: 20px auto;
    width: 550px;
}

.ProjectInfoRight{
    margin: 20px 100px 0 0;
    color: #fff;
}

.ProjectInfoLeft{
    margin: 20px 0px 0 120px;
    float: left;
    color: #fff;
}

.ProjectType{
    text-transform: uppercase;
}

.ProjectInfo h4{
    margin-bottom: 20px; 
}


.ProjectTech{
    width: 64px;
    display: block;
    margin: 5px auto;
    transition:all 0.5s;
}

.ProjectTech:hover{
    transform: scale(1.5, 1.5);
}

.Button {
    margin: 70px 0 0 80px;
}