.Wrapper {
  padding-bottom: 50px ;
  height: 100%;
  width: 100%;
  background: #000;
}

.Title{
    margin: 0 0 50px 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
    color: #fff;
}

.Title .TextDecortion{
  color: red;
  font-size: 12;
  font-weight: lighter;
}

.ColLeft{
  width: 54.5%;
  height: 100%;
  padding-right: 20px;
}

.ColRight{
  width: 40%;
  height: 100%;
}

.ColLeft2{
  width: 45.5%;
  height: 100%;
}

.ColRight2{
  width: 50%;
  height: 100%;
  padding-left: 20px;
}

.BadgeRight {
  float: left;
  width: 96px;
  margin-bottom: 3rem;
  padding-top: 0.5rem;

}


.BadgeLeft {
  float: right;
  width: 96px;
  margin-bottom: 3rem;
  padding-top: 0.5rem;
}

.TextRight {
  margin: 0px 0 10px 250px;
  text-align: justify;
  color: #707070;
}

.TextLeft {
  margin: 0px 150px 10px 0;
  text-align: justify;
  color: #707070;
}



@media all and (min-width: 768px) and (max-width: 1000px){

  .ColRight2{
    width: 54%;
  }

  .ColLeft{
    width: 60%;
  }

  .TextRight {
    margin: 0 0 10px 100px;
  }

  .TextLeft {
    margin: 0px 50px 10px 0;
  }
}


@media all and (max-width: 766px){
  .Wrapper{
    display: none;
  }
  .Title{
    font-size: 24px;
  }

  .ColRight2{
    width: 30%;
  }

  .ColLeft2{
    width: 70%;
  }

  .ColLeft{
    width: 60%;
  }

  .ColRight{
    width: 60%;
  }

  .TextRight {
    margin: 0 0 10px 0px;
  }

  .TextLeft {
    margin: 0px 50px 10px 0;
  }
}