.Wrapper {
  padding-bottom: 50px ;
  height: 100%;
  width: 100%;
  background: #000;
}

.Title{
    margin: 0 0 50px 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
    color: #fff;
}

.Title .TextDecortion{
  color: red;
  font-size: 12;
  font-weight: lighter;
}

.ColLeft{
  width: 54.5%;
  height: 100%;
  padding-right: 20px;
}

.ColRight{
  width: 40%;
  height: 100%;
}

.ColLeft2{
  width: 45.5%;
  height: 100%;
}

.ColRight2{
  width: 50%;
  height: 100%;
  padding-left: 20px;
}

.BadgeRight {
  float: left;
  width: 96px;
  margin-bottom: 3rem;
  padding-top: 0.5rem;

}


.BadgeLeft {
  float: right;
  width: 96px;
  margin-bottom: 3rem;
  padding-top: 0.5rem;
}

.TextRight {
  margin: 0px 0 10px 250px;
  text-align: justify;
  color: #707070;
}

.TextLeft {
  margin: 0px 150px 10px 0;
  text-align: justify;
  color: #707070;
}
