.Wrapper{
    margin: 50px 100px 0 100px;
    width: 100%;
    background: #000;
    color: #fff;
}

.TextDecortion{
    color: red;
    font-size: 12;
    font-weight: lighter;
}   

.Title{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
    margin: 0px
}

.Border{
    display: block;
    margin: 50px auto;
    border: 1px solid transparent;
    border-image:  linear-gradient(  #fff,  #4f4f51) 1 ;
    text-align: center;
    height: 220px;
    width: 220px;
    cursor: pointer;
}

.Layer{
    position: absolute;
    height: 0;
    transition: 0.5s
}

.Layer:hover{
    height: 68%;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
}

.Badge{
    overflow: hidden;
    width: 220px;
}


