.Wrapper{
    height: 90vh;
    width: 100%;
    background: #000;
    color: #fff;
    clip-path: polygon(
        0 0,
        100% 0%,
        100% 100%,
        0 calc(100% - 5vw)
      );
}

.TextDecortion{
    color: red;
    font-size: 12;
    font-weight: lighter;
}   

.Title{
    text-align: center;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    padding: 50px 0 50px 0;
}

.ProjectImage{
    display: block;
    margin: auto;
    width: 600px;
}

.ProjectInfo{
    margin: 50px 100px 0 0;
}

.ProjectInfo h4{
    margin-bottom: 20px; 
}

.Button {
    margin: 70px 0 0 80px;
}