.Wrapper{
    height: 50vh;
    width: 100%;
    background: url('../../../../assets//backgrounds/services/services-background-2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.Badge{
    display: block;
    margin: 120px auto;
    height: 140px;
}

.Line{
    border: 1px solid #fff;
    height: 270px;
    margin: 60px 20px 0 0;
    background: #fff;
}

.Text{
    margin: 100px 0 50px 0;
}


@media all and (min-width: 768px) and (max-width: 1000px) {
    .Badge{
        height: 120px;
    }
}


@media all and (max-width: 768px){
    .Wrapper{
        height: 100%;
    }

    .Badge{
        margin: 40px auto;
    }

    .Line{
        display: none;
    }

    .Text{
        text-align: justify;
        margin: 0 0 40px 0;
    }
}