.DynamicNavigationItems{
    margin-left: 25px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.DeactiveDynamicNavigationItem{
    margin: 0;
    display: flex;
    height: 100%;
    align-items: center;
}

.DeactiveDynamicNavigationItem a{
    transition: all 1s;
    text-decoration: none;
    color: #000;
    height: 100%;
    padding: 16px;
    font-size: 15px;
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: flex;
    font-weight: bold;
}


.DeactiveDynamicNavigationItem a:hover,
.DeactiveDynamicNavigationItem a:active,
.DeactiveDynamicNavigationItem a.active{
    transition: 0.3s;
  
}





.ActiveDynamicNavigationItem{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}

.ActiveDynamicNavigationItem a{
   transition: all 1s;
    text-decoration: none;
    color: #000;
    height: 100%;
    padding: 16px;
    font-size: 15px;
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: flex;
    font-weight: bold;
}

.ActiveDynamicNavigationItem a:hover,
.ActiveDynamicNavigationItem a:active,
.ActiveDynamicNavigationItem a.active{
    transition: 0.3s;
   
}