.Wrapper{
    height: 45vh;
    width: 100%;
    background: url('../../../../assets/backgrounds/home/background-home-development.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #000;
}

.TextDecortion{
    color: red;
    font-size: 12;
    font-weight: lighter;
}   


.Title{
    text-align: center;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    padding: 50px 0 50px 0;
}

.Icon{
    display: block;
    margin: auto;
    height: 140px;
}