.Wrapper{
    height: 40vh;
    width: 100%;
    background: #fff;
    color: #000;
}

.TextDecortion{
    color: red;
    font-size: 12;
    font-weight: lighter;
}   


.Title{
    text-align: center;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    margin: 50px 0 50px 0;
}

.Icon{
    display: block;
    margin: auto;
    height: 140px;
}