.Card{
    margin: 100px auto;
    width: 60%;
    height: 650px;
}

.Logo{
    display: block;
    margin: 20px auto 60px auto;
    width: 96px;
}


.Button{
    margin-top: 40px;
    margin-left: 29%;
}