.Card{
    margin: 75px 15px 0 0;
    float: left;
    width: 50%;
    height: 100%;
}

.Logo{
    display: block;
    margin: 20px auto 60px auto;
    width: 96px;
}



.Button{
    margin-top: 40px;
    margin-left: 25%;
}