.Wrapper{
    height: 35vh;
    width: 100%;
    background: #fff;
}

.RowWrapper{
    margin-left: 15%;
}

.Title{
    margin: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
}

.TextDecoration{
    color: red;
}

.Badge{
    display: block;
    margin: auto;
    height: 126px;
}